body {
      /* background-color: #ffcc66;
      background-image: url(butterfly.gif);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top right; */

/* [background-color] | [background-image] | [background-repeat] | [background-attachment] | [background-position] */

      /* background: #ffcc66 url(butterfly.gif) no-repeat fixed top right */
}
h1 {
    /* color: #990000;
    background-color: #FC9804; */
    font-family: Arial, Verdana,  sans-serif;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 6px;
    
}
h2{
     font-family: "Times New Roman",serif;/*Times New Roman因为其中包含空格，所以我们用引号将它括起来 */
     font-variant: normal;
     font-weight: 0;
     font-size: 10px;
}
h3{
     font-style: italic;
     font-family: "Times New Roman",serif;/*Times New Roman因为其中包含空格，所以我们用引号将它括起来 */
     font-variant: normal;
     font-weight: 0;
     font-size: 1em;
}
    /* font-style | font-variant | font-weight | font-size | font-family */
.p1{
    text-indent: 30px;
    text-decoration: underline;
    letter-spacing: 3px;
    text-transform: uppercase;

}
.p2{
    text-indent: 30px;
    text-decoration: line-through;

}

a:link{
    color: blue;

}
a:visited{
    color: green;
}
a:active{
    color: red;
}
a:hover{
    color: red;
}